<html>
<body>
    <div class="ftr">
        <div class="ftr-small">
            <h4 class="ftr-h">PRODUCT</h4>
            <hr class="line">
            <a class="ftr-text" href="" type="">Cost and Governance</a>
            <a class="ftr-text" href="" type="">Security and complaince</a>
            <a class="ftr-text" href="" type="">Product N</a>
            <a class="ftr-text" href="" type="">Pricing and plans</a>
        </div>
        <div class="ftr-small">
            <h4 class="ftr-h">LEARN</h4>
            <hr class="line">
            <a class="ftr-text" href="" type="">Articles</a>
            <a class="ftr-text" href="" type="">Register a demo</a>
            <a class="ftr-text" href="" type="">Webinars</a>
            <a class="ftr-text" href="" type="">FAQ's</a>
        </div>
        <div class="ftr-small">
            <h4 class="ftr-h">COMPANY</h4>
            <hr class="line">
            <a class="ftr-text" href="" type="">About</a>
            <a class="ftr-text" href="" type="">Careers</a>
            <a class="ftr-text" href="" type="">Partners</a>
            <a class="ftr-text" href="" type="">Contact</a>
        </div>
    <div>

    </div>
<script src="js/script-min.js"></script>
</body>
</html>
